name: bible_memory_app_kids
description: >
  احفظ كلمة الله - تطبيق تفاعلي للأطفال لحفظ آيات الكتاب المقدس باللغة العربية.
publish_to: 'none'
version: 1.0.0+1
environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.6
  provider: ^6.1.2
  http: ^1.2.1
  supabase_flutter: ^2.5.4
  google_fonts: ^6.2.1
  intl: ^0.19.0


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true
  assets:
    - assets/
